<div class="container">
    <h1>Contact Me</h1>

    <p>you can contact me through these options</p>

    <div class="options">
        <a class="option" href="https://github.com/johngualteros" target="_blank">
            <i class="bi bi-github"></i>
            <p>Github</p>
        </a>
        <a class="option" href="https://www.linkedin.com/in/john-gualteros-518bba22b/" target="_blank">
            <i class="bi bi-linkedin"></i>
            <p>Linkedin</p>
        </a>
        <a class="option" href="https://es.quora.com/profile/John-Gualteros13" target="_blank">
            <i class="bi bi-quora"></i>
            <p>Quora</p>
        </a>
        <a class="option" href="mailto:gualterosjohn40@gmail.com" target="_blank">
            <i class="bi bi-envelope"></i>
            <p>Mail</p>
        </a>
        <a class="option" href="https://api.whatsapp.com/send?phone=3144326076" target="_blank">
            <i class="bi bi-whatsapp"></i>
            <p>Whatsapp</p>
        </a>
    </div>
</div>