<div class="container">
    <a href="https://github.com/johngualteros" target="_blank">
        <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/john-gualteros-518bba22b/" target="_blank">
        <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://es.quora.com/profile/John-Gualteros13" target="_blank">
        <i class="bi bi-quora"></i>
    </a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=gualterosjohn40@gmail.com" target="_blank">
        <i class="bi bi-envelope-at"></i>
    </a>
    <div class="line"></div>
</div>