.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 30px;
        background: -webkit-linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 200%;
        color: transparent;
    }
}

.project {
    width: 100%;
    display: flex;
    margin: 20px 0;
    border-bottom: 2px solid #ee7752;
    padding-bottom: 10px;

    .image{
        position: relative;
        overflow: hidden;
        
        img{
            transition: all .5s ease;
            &:hover{
                transform: scale(1.3);
                transition: all .5s ease;
            }
        }
    }

    .contentProject{
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        h1{
            font-size: 1.7rem;
            margin-bottom: 20px;
        }

        .contentDescription{
            background-color: #66bbdb;
            color: #121212;
            padding: 30px;
            border-radius: 10px;
            width: 120%;
        }

        .github{
            font-size: 2rem;
            margin: 10px 0;
            transition: all .5s ease;
            &:hover{
                background: -webkit-linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
                -webkit-background-clip: text;
                background-clip: text;
                background-size: 200%;
                color: transparent;
                transition: all .5s ease;
            }
        }

        .technologies{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            margin: 10px 0;
            font-size: 18px;

            span{
                margin: 0 5px;
            }
        }
    }
}


@media (max-width: 550px) {

    .project{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

        .image{
            margin-bottom: 20px;

            img{
                width: 100%;
            }
        }

        .contentProject{
            width: 100%;
            align-items: center;
            text-align: center;
            .contentDescription{
                text-align: center;
                width: 100%;
            }
        }

    }
    .technologies{
        justify-content: center !important;
        text-align: center;
    }

}